{
  "apiKey": "{{api_key}}",
  "monitorUserKey": "{{monitor_user_key}}",
  "systemUserKey": "{{system_user_key}}",
  "telegramBotToken": "{{telegram_bot_token}}",
  "telegramChatId": "{{telegram_chat_id}}",
  "systemName": "{{lookup('file', '/etc/hostname')}}"
}