[Unit]
Description=Update Alarmdisplay Software
After=multi-user.target

[Service]
Type=idle
ExecStart=bash /opt/ffw-ra-rauental-updater/update.sh
WorkingDirectory=/opt/ffw-ra-rauental-updater/
EnvironmentFile=/etc/environment
User=root
Group=root

[Install]
WantedBy=multi-user.target
