[Unit]
Description=Controller for the Alarmdisplay
Wants=network-online.target
Wants=graphical.target
After=graphical.target
After=network.target

[Service]
Type=simple
ExecStart=python divera_script.py
WorkingDirectory=/opt/display-controller
Restart=always
User=root
Group=root

[Install]
WantedBy=graphical.target
WantedBy=multi-user.target
