curl -X POST \
     -H 'Content-Type: application/json' \
     -d @<(cat <<EOF
{"chat_id": "$TelegramChatId", "text": "$(hostname): Ping!"}
EOF
) https://api.telegram.org/bot$TelegramBotToken/sendMessage